<div class="addon" v-if="isPostPage">

    <h2 >分类标签</h2>
    <div class="tags-items-list">
        {% for tag in site.tags %}
        <a href="/404#{{ tag[0] }}" class="post-tag">{{ tag[0] }}</a>
        {% endfor %}
    </div>

    <div class="article-share">
        <a class="fa fa-twitter"
           href="https://twitter.com/intent/tweet?url={{ site.url | append: page.url | url_encode }}&text={{'『' | append: page.title | append: '』' | append: page.description | url_encode}}"
           target="_blank"></a>
        <a class="fa fa-share-alt"
           href="https://www.evernote.com/clip.action?url={{ site.url | append: page.url | url_encode }}&title={{'『' | append: page.title | append: '』' | append: page.description | url_encode}}"
           target="_blank"></a>
        <a class="fa fa-weibo"
           href="http://v.t.sina.com.cn/share/share.php?url={{ site.url | append: page.url | url_encode }}&title={{'『' | append: page.title | append: '』' | append: page.description | url_encode}}"
           target="_blank"></a>
    </div> <!-- end #post__share -->



    <!--评论框-->
    <h2>评论 <span class="comment-count" v-show="commentCount == 0">   评论数量 :<i v-text="commentCount"></i></span></h2>
    <section class="comment">
        <div class="comment-thread" v-for="(obj,idx) in commentList">
            <span class="avatar">
                <avatar :username="obj.user.username" class="comment-thread-avatar"></avatar>
                <i v-text="obj.user.username"></i>
            </span>
            <div>
                <p class="comment-thread-text" v-text="obj.content"></p>
                <section class="comment-thread-addons">
                    <span> <i class="fa fa-clock-o comment-thread-time"></i><i v-text="humanTime(obj.CreatedAt)"></i></span>
                    <a :class="isUidInArray(obj.like_uids) ? 'active':''" title="like"
                       @click="doCommentAction(obj,'like')"><span v-text="arrayCount(obj.like_uids)" v-show="arrayCount(obj.like_uids)>0"
                                                                  class="icon-text"></span><i
                            class="fa fa-thumbs-up"></i> </a>
                    <a :class="isUidInArray(obj.dislike_uids) ? 'active':''" title="dislike"
                       @click="doCommentAction(obj,'dislike')"><span v-text="arrayCount(obj.dislike_uids)" v-show="arrayCount(obj.dislike_uids)>0"
                                                                     class="icon-text"></span><i
                            class="fa fa-thumbs-down"></i></a>
                    <a :class="isUidInArray(obj.thank_uids) ? 'active':''" title="thank"
                       @click="doCommentAction(obj,'thank')"><span v-text="arrayCount(obj.thank_uids)" v-show="arrayCount(obj.thank_uids)>0"
                                                                   class="icon-text"></span><i
                            class="fa fa-trophy"></i></a>
                    <a class="" title="replay" @click="doCommentReply(obj)"><i class="fa fa-reply"></i></a>
                </section>
            </div>
        </div>

        <div class="comment-write" ref="commenter">
            <textarea v-model="commentInput" placeholder="回复内容" name="content"></textarea>
            <div class="comment-write-action">
                <button @click="doCommentAdd()" class="comment-write-btn-ok">评论</button>
                <button @click="doClear" class="comment-write-btn-cancel">取消</button>
            </div>
        </div>


    </section>

</div>

